<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/static/mermaid.js"></script>
    <base href="/" />
</head>
<body style="background: #fdf6e3;">
    <div class="mermaid">
        @((MarkupString)Code)
    </div>
    <script type="text/javascript">
        mermaid.initialize({
          startOnLoad:true
        });
    </script>
</body>
</html>

@code {
    [Parameter]
    public string Code { get; set; } = "";
}